<div id="profile">
    <div class="section-container">
        <div class="image">
            <img src="assets\image.jfif" height="250" width="250">
        </div>
        <div class="section-text">
            <h6>Hello,I'm</h6>
            <h2>Tharun Raj</h2>
            <h4>FrontEnd Developer</h4>
            <div class="buttons">
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="window.open('./assets/Resume-Tharun.pdf')">Download CV</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='./#contact'">Contact Info</button>
            </div>
            <div class="social-container">
                <a href="https://www.linkedin.com/in/tharunraj28/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/TharunrajY" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
    
    
</div>
    